#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  font-family: 'Open Sans Regular';
  font-size: 200px;
}

#weather {
  width: 800px;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
}

body {
  position: relative;
}

#msg {
  position: absolute;
  top: 10px;
  left: 10px;
  color: skyblue;
  font-weight: bold;
}
