#clock {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  font-family: 'Open Sans Regular';
  font-size: 200px;
}

body {
  position: relative;
}

#msg {
  position: absolute;
  top: 10px;
  left: 10px;
  color: skyblue;
  font-weight: bold;
}
